# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Visual Studio klasörleri
.vs/
*.vcxproj*
*.sln

# Visual Studio derleme dosyaları
*.user
*.opensdf
*.sdf
*.ipch
*.cache
*.log

# Derleme çıktısı klasörleri
Debug/
Release/
x64/
x86/

# CMake dosyaları (kullanıyorsan)
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Diğer
*.tlog
*.idb
*.ncb
*.suo
*.ilk
*.pdb
*.aps
*.bak

# MacOS/Linux artefaktları
.DS_Store

